#top {
	background-image:
		url("http://www.sharecg.com/images/original/39657.jpg");
	background-width: 100%;;
	background-repeat: no-repeat;
	padding-top: 1%;
}

form {
	display: inline-block;
	text-align: center;
}

#title {
	color: yellow;
	font-weight: bold;
	margin-right: 3%;
	text-align: left;
	margin-bottom: 0;
}


.runner {
	width: 60px;
}
body{
	background-image:url("https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/images/ears_of_corn.jpg?itok=AAh_FWcU");
}